@import url("https://fonts.googleapis.com/css?family=Hind:300,600&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css");


body {
  color: black;
  font-family: 'Hind', sans-serif;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: row;
}

.map-div {
  height: 100vh;
  width: 80%
}

 /*+++++++++++++++++++++++++++*/
 /* VIEWPORTS */

 /*tablet*/
 @media only screen and (max-width: 1200px) {
  .map-div {
    height: 100vh;
    width: 85%
  }

  .nav {
    float: right;
    width: 15%;
    font-size: 1em
  }

  .nav-item li {
    border-bottom: 1px solid #67f7fc
  }

  .nav-item li button {
    color: white;
    vertical-align: middle;
    letter-spacing: 0.1em;
    padding: 10px 0 10px 0;
    border: none;
    width: 100%;
  }

  .plus-15 {
    color: #67f7fc;
    background-color: #737982;
    font-size: 4em;
    font-weight: bolder;
    text-align: center;
    padding: 15px 0px 8px 0px;
    border-bottom: 5px solid #67f7fc;
  }
}

/*mobile*/
@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }

  .map-div {
    height: 100vh;
    width: 100%;
    border-bottom: 4px solid #67f7fc;
  }

  .nav {
    float: none;
    width: 100%;
  }

  .plus-15 {
    display: none;
  }
}



