@import url("https://fonts.googleapis.com/css?family=Hind:300,600&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css");

/*
lightblue: #396985
darkblue: #064466
*/




.button-icon {
  vertical-align: middle;
  width: 40px;
  height: 40px;
  margin:auto;
  margin-bottom: 10px
}

.nav-item {
  margin: 0;
  padding: 0px;
  list-style-type: none;
}

.nav-item li button:focus {
outline: 0px;
}

.nav-item li {
  border-bottom: 2px solid white
}

.nav-item li button {
  color: white;
  vertical-align: middle;
  letter-spacing: 0.1em;
  padding: 10px 0 10px 0;
  border: none;
  width: 100%;
}

.nav {
  width: 20%;
  background-color: #396985;
  font-size: 2em;
  color: #edeff2;
}

.icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.plus-15 {
  background-color: #064466;
  padding: 15px 0px 15px 0px;
  border-bottom: 10px solid white;
}

.contact {
  font-size: 12px;
  text-align: center;
  position: absolute;
  bottom: 5px;
}